@media (min-width: 375px) and (max-width: 480px) {
    .center {
       padding-right: 16px;
       padding-left: 16px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
            &__heading {
                text-align: center;

                font-size: 32px;
                line-height: 39px;
            }

            &__description {
                text-align: center;

                font-size: 14px;
                line-height: 22px;
            }

    }

    .main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

   .game {
        width: 343px;
   }
}