* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.background-image-top {
  background-image: url(./img/bg_images/home-page-img.jpg);
  background-size: contain;
}

.header-box {
  display: flex;
  flex-direction: column;
  height: 1024px;
  box-sizing: border-box;
  padding-top: 217px;
}
.header-box__heading {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  margin-bottom: 32px;
}
.header-box__description {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}
.header-box__bold {
  font-weight: 1000;
}
.header-box__button {
  box-sizing: border-box;
  height: 48px;
  width: 234px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  background: #9C0332;
  margin-top: 44px;
}
.header-box__button_hovered:hover {
  background-color: #EB443F;
  transition: 0.8s;
  background-image: url(./img/Vector.svg);
  background-repeat: no-repeat;
  background-position: bottom right 25px;
}
.header-box__button_hovered:not(:hover) {
  transition: 0.8s;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url(./img/bg_images/secondBlockBackground.png);
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 300px;
  width: 379px;
  border-radius: 16px;
}
.game_one {
  background-image: url(./img/bg_images/game_1.jpg);
  background-size: cover;
}
.game_two {
  background-image: url(./img/bg_images/game_2.jpg);
  background-size: cover;
}
.game_three {
  background-image: url(./img/bg_images/game_3.jpg);
  background-size: cover;
}
.game__box_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: white;
  padding-left: 32px;
  padding-bottom: 32px;
}
.game__box_hovered:hover {
  transition: 0.8s;
  background-image: url(./img/Vector.svg);
  background-repeat: no-repeat;
  background-position: bottom 16px right 50px;
}

.background-image-bottom {
  background-image: url(./img/block_images/thirdBlockBackground.png);
}

.seasons-box {
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seasons-box__left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.seasons-box__left-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 59px;
  line-height: 100%;
  color: white;
}
.seasons-box__left-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.seasons-box__left-button {
  height: 49px;
  width: 234px;
  background-color: #9C0332;
  border: none;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
}
.seasons-box__left-button_hovered:hover {
  background-color: #EB443F;
  transition: 0.8s;
  background-image: url(./img/Vector.svg);
  background-repeat: no-repeat;
  background-position: bottom right 25px;
}
.seasons-box__left-button_hovered:not(:hover) {
  transition: 0.8s;
}
.seasons-box__right {
  height: 333px;
  width: 484px;
  background-image: url(./img/block_images/secondBlockImage.png);
}

@media (min-width: 375px) and (max-width: 480px) {
  .center {
    padding-right: 16px;
    padding-left: 16px;
  }
  .header {
    height: 735px;
    background-image: url(./img/bg_images/home-page-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-box__heading {
    text-align: center;
    font-size: 32px;
    line-height: 39px;
  }
  .header-box__description {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .game {
    width: 343px;
  }
  .seasons-box {
    height: 653px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 51px;
  }
  .seasons-box__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seasons-box__left-heading {
    font-size: 32px;
    line-height: 39px;
  }
  .seasons-box__left-text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  .seasons-box__right-mobile {
    height: 236px;
    width: 344px;
    background-image: url(./img/block_images/secondBlockImageMobile.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 85px;
  }
}/*# sourceMappingURL=style.css.map */